* { 
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body { 
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    /*background: radial-gradient(circle, rgba(226,141,96,1) 0%, rgba(195,141,158,1) 33%, rgba(65,179,163,1) 66%, rgba(133,220,176,1) 99%);*/
    /*background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);*/
    /*#fbc2eb */
    background-image: linear-gradient(120deg, white 0%, #c7fffd 100%);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header { 
    position: relative;
    width: 1500px;
    height: 120px;

    transform: translate(-25px, 0);
    margin: 15px 0 15px 0; 
    border-radius: 15px;


    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 30px;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}


#tutorial-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 0, 0.2);
}

#tutorial {
    width: 300px;
    height: 400px;
    background: white;
    background-image: linear-gradient(-10deg, white 0%, white 50%, #c7fffd 100%);

    border: 1px solid gray;

    border-radius: 15px;
    box-shadow: 0 5px 5px 2px rgb(0 0 0 / 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#tutorial > div {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#tutorial > div > b {
    color: red !important;
}

#tutorial > div > img {
    transform: translate(0px, -4px)
}

.label {
    padding: 3px 6px 3px 6px;
    transform: translate(-5px, -4px);

    border-radius: 4px;
}


.hidden {
    display: none !important;
}


#size {
    display: absolute;
    left: 0;
}

#settings {
    position: absolute;
    transform: translate(100px, 0);
    right: 25%;
}

#algorithm {
    display: flex;
    flex-direction: column;

    font-size: 16px;
    color: black;
}


button {
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: white;
}

#start {
    color: green;
    border-color: green;
}

#clear {
    color: red;
    border-color: red;
}
